body
{
	font-size: 16px;
	color: white;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}
#header-navbar,div{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
	width: 1525px;
	height: 100px;			
}
#image{
	background: url('../mod2_sol/David')no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0px;
}